
    html {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      font-family: Microsoft YaHei;
      /* -webkit-app-region: drag; */
    }
    body {
      margin: 0;
      height: 100%;
      overflow: hidden;
      -webkit-app-region: no-drag;
      /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
      background: #eee;
    }
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    li {
      padding: 4px;
    }

    .drag-bar {
      width: 100%;
      height: 34px;
      -webkit-app-region: drag;
      /* background: #bae1fb; */
      
    }
    .menu-bar {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-app-region: no-drag;
    }
    .shut-btn {
      font-size: 20px;
      position: relative;
      top: 2px;
      color: #555;
    }
    .menu-bar i {
      font-weight: bold;
      display: inline-block;
      width: 30px;
      height: 20px;
      cursor: pointer;
      /* color: #fff; */
    }

    #file-input {
      opacity: 0;
      width: 160px;
      height: 50px;
      position: absolute;
      top: 210px;
      left: 50px;
      z-index: 99;
      cursor: pointer;
    }

    /* .select-wrapper {
      width: 380px;
      height: 120px;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%);
      border: 1px dotted #46aef7;
    } */
    *::selection {
      background: transparent;
    }
    .select {
      width: 160px;
      height: 50px;
      font-size: 20px;
      color: #fff;
      font-family: Microsoft YaHei;
      line-height: 50px;
      text-align: center;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      position: absolute;
      top: 210px;
      left: 50px;
      box-shadow: 0 0 30px #ccc;
      border-radius: 5px;
      transition: all .3s;
      cursor: pointer;
      -webkit-app-region: no-drag;
    }
    .clear {
      width: 160px;
      height: 50px;
      font-size: 20px;
      color: #fff;
      font-family: Microsoft YaHei;
      line-height: 50px;
      text-align: center;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      position: absolute;
      top: 260px;
      left: 50px;
      box-shadow: 0 0 30px #ccc;
      border-radius: 5px;
      transition: all .3s;
      cursor: pointer;
      -webkit-app-region: no-drag;
    }
    .setting {
      width: 160px;
      height: 50px;
      font-size: 20px;
      color: #fff;
      font-family: Microsoft YaHei;
      line-height: 50px;
      text-align: center;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      position: absolute;
      top: 310px;
      left: 50px;
      box-shadow: 0 0 30px #ccc;
      border-radius: 5px;
      transition: all .3s;
      cursor: pointer;
      -webkit-app-region: no-drag;
    }
    .file-list {
      width: 200px;
      height: 400px;
      position: absolute;
      top: 100px;
      left: 250px;
      /* transform: translate(-50%); */
      overflow: scroll;
      color: #fff;
      border-radius: 200px;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    }
    .file-list li {
      width: 100%;
    }
    .file-list::-webkit-scrollbar {
        display: none;
    }

    .total-size-start {
      width: 200px;
      height: 60px;
      position: absolute;
      top: 200px;
      left: 250px;
      z-index: 2;
      color: #fff;
      text-align: center;
      font-size: 20px;
      line-height: 60px;
    }
    .total-size-end {
      width: 200px;
      height: 60px;
      position: absolute;
      top: 350px;
      left: 250px;
      z-index: 2;
      color: #fff;
      text-align: center;
      font-size: 20px;
      line-height: 60px;
    }
    .arrow {
      width: 200px;
      height: 60px;
      position: absolute;
      top: 270px;
      left: 250px;
      z-index: 2;
      color: #fff;
      font-weight: bold;
      text-align: center;
      font-size: 40px;
      line-height: 60px;
    }

    .img-list {
      width: 450px;
      height: 400px;
      position: absolute;
      top: 100px;
      left: 500px;
      /* transform: translate(-50%); */
      overflow: scroll;
      color: #333;
    }
    .img-list li {
      background: #fff;
      /* background: #25af7a; */
      /* background: #ff737a; */
      width: 450px;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      box-shadow: 0 0 5px #ccc;
    }
    .img-list::-webkit-scrollbar {
        display: none;
    }
    li.success {
      background: #25af7a;
    }
    li.failed {
      background: #ff737a;
    }

    .show-progress {
      width: 160px;
      height: 50px;
      position: absolute;
      top: 480px;
      left: 50px;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      color: #555;
    }

    .key-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .8);
      z-index: 101;
    }
    .key-wrapper input {
      width: 300px;
      height: 40px;
      font-size: 16px;
      position: absolute;
      top: 250px;
      left: 260px;
      z-index: 104;
      border-radius: 5px;
      outline:none;  
      border:0px;
      padding: 10px;
      background: #ccc;
    }
    .key-wrapper input::selection {
      background: #ccc;
    }
    .confirm-btn {
      width: 80px;
      height: 40px;
      background: #777;
      cursor: pointer;
      position: absolute;
      top: 250px;
      left: 580px;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      color: #fff;
    }
    .cancel-btn {
      width: 80px;
      height: 40px;
      background: #777;
      cursor: pointer;
      position: absolute;
      top: 250px;
      left: 670px;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      color: #fff;
    }
    .hide {
      display: none;
    }
    .show {
      display: block;
    }
    .key-wrapper .needkey {
      color: #fff;
      position: absolute;
      top: 200px;
      left: 200px;
    }
    .key-wrapper .tips {
      color: #aaa;
      position: absolute;
      top: 300px;
      left: 230px;
      font-size: 14px;
    }
    .key-wrapper .tips p::selection {
      background: #30c7ec;
      color: #333;
    }

    .loading-wrapper{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 250px;
      left: 400px;
      z-index: 999;
    }
    .loading-wrapper span{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #eee;
        position: absolute;
        -webkit-animation: load 1.04s ease infinite;
    }
    @-webkit-keyframes load{
        0%{
            -webkit-transform: scale(1.2);
            opacity: 1;
        }
        100%{
            -webkit-transform: scale(.3);
            opacity: 0.5;
        }
    }
    .loading-wrapper span:nth-child(1){
        left: 0;
        top: 50%;
        margin-top:-10px;
        -webkit-animation-delay:0.13s;
    }
    .loading-wrapper span:nth-child(2){
        left: 14px;
        top: 14px;
        -webkit-animation-delay:0.26s;
    }
    .loading-wrapper span:nth-child(3){
        left: 50%;
        top: 0;
        margin-left: -10px;
        -webkit-animation-delay:0.39s;
    }
    .loading-wrapper span:nth-child(4){
        top: 14px;
        right:14px;
        -webkit-animation-delay:0.52s;
    }
    .loading-wrapper span:nth-child(5){
        right: 0;
        top: 50%;
        margin-top:-10px;
        -webkit-animation-delay:0.65s;
    }
    .loading-wrapper span:nth-child(6){
        right: 14px;
        bottom:14px;
        -webkit-animation-delay:0.78s;
    }
    .loading-wrapper span:nth-child(7){
        bottom: 0;
        left: 50%;
        margin-left: -10px;
        -webkit-animation-delay:0.91s;
    }
    .loading-wrapper span:nth-child(8){
        bottom: 14px;
        left: 14px;
        -webkit-animation-delay:1.04s;
    }

    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 34px;
      left: 0;
      z-index: 991;
      background: rgba(0, 0, 0, .1);
    }